@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hola Mundo</h1>
    <p class="lead">Aplicación para companía de Autotransportes</p>
    <p><a href="https://youtu.be/04854XqcfCY" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Facebook</h2>
        <p>
            Create an account or log into Facebook. 
            Connect with friends, family and other people you know. 
            Share photos and videos, send messages and get updates.
        </p>
        <p><a class="btn btn-default" href="https://www.facebook.com">Click here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Youtube</h2>
        <p>Enjoy the videos and music you love, upload original content, and share it all with friends, family, and the world on YouTube.</p>
        <p><a class="btn btn-default" href="https://www.youtube.com">Click here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Twitter</h2>
        <p>From breaking news and entertainment to sports and politics, get the full story with all the live commentary.</p>
        <p><a class="btn btn-default" href="https://twitter.com">Click here &raquo;</a></p>
    </div>
</div>